<% content_for :title, "schedule collector" %>

<p>find out who you share classes with!</p>
<p><%= pluralize(@schedules.length, 'person') %> submitted their schedule (or i did it for them hehe)</p>
<%= link_to 'submit your schedule', new_schedule_path %>
<% @schedules.each do |schedule| %>
  <li><%= link_to schedule.name, schedule %></li>
<% end %>