<p>
  <strong><%= course.title %></strong><br>
  <%=course.teacher %> - room <%=course.room %><br>
  <div>
    <% course.schedules.each do |schedule| %>
      <li><%= link_to schedule.name, schedule %></li>
    <% end %>
  </div>
</p>