<h1>courses</h1>
<p><%= @courses.length %> courses have been added</p>
<p>yes i know courses with multiple periods are the same course but i cant name things classes because that conflicts with an actual class so a course is going to have to work here</p>
<%= link_to "add a course", new_course_url %>

<%= render @courses %>